@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*primary*/
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    /*neutra*/
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
}

body {
    font-size: 1.125rem;
    font-family: "DM Sans";
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
}

hr {
    width: 100%;
    border: 1px solid var(--cream);
    margin: 1.5rem 0;
}

h1 {
    font-size: 0.875rem;
    font-weight: 400;
}

.container {    
    width: 375px;
    padding: 1rem;
}

.card {    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-title {
    background-color: var(--soft-red);
    display: flex;
    justify-content: space-between;
    padding: 1.313rem;
    border-radius: 0.5rem;
    color: var(--very-pale-orange);
}

.card-title output {
    font-size: 1.5rem;
    font-weight: 700;
}

.card-title img {
    width: 60px;
    height: 40px;
    margin: auto 3px auto 0;
}

.card-body {
    width: 100%;
    background-color: var(--very-pale-orange);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.313rem;
    border-radius: 0.5rem;
}

.chart-article {
    width: 100%;
}

.chart-article h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-brown);
}

.chart-container {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    padding-top: 30px;
}

.chart-item {
    width: 33px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.item-bar {
    height: 100px;
    background-color: var(--soft-red);
    border-radius: 0.25rem;
}

.chart-item span{
    visibility: hidden;
    position: absolute;
    transform: translate(-50%,-120%);
    font-size: 0.75rem;
    font-weight: 700;
    background-color: var(--dark-brown);
    color: var(--very-pale-orange);
    border-radius: 0.2rem;
    padding: 0.25rem;
}

.chart-item p {
    font-size: 0.75rem;
    color: var(--medium-brown);
    margin: 0.75rem 0 0 0;
}


.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-footer div {
    color: var(--medium-brown);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-footer div:first-child{
   text-align: left;
}

.card-footer div:first-child output{
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-brown);
}

.card-footer div:nth-child(2){
    text-align: right;
}

.card-footer div:nth-child(2) output{
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--dark-brown);
}


@media only screen and (min-width: 1000px){

    main {
        height: 100%;
    }

    h1 {
        font-size: 1rem;
    }

    hr {
        margin: 2rem 0;
    }

    .container {
        width: 541px;
        padding: 1rem 0;
    }

    .card-title {
        padding: 2rem;
        border-radius: 1rem;
    }
    .card-title output {
        font-size: 2rem;
    }

    .card-title img {
        width: 74px;
        height: 50px;
    }

    .card-body {
        padding: 2.5rem;
        border-radius: 1rem;
    }

    .chart-article h1 {
        font-size: 2rem;
    }

    .chart-container {
        min-height: 244px;
    }

    .chart-item {
        width: 51px;
    }

    .item-bar {
        height: 100px;
    }

    .chart-item span{
        font-size: 1.125rem;
        padding: 0.5rem;
    }

    .chart-item p {
        font-size: 1rem;
        margin: 0.5rem 0 0 0;
    }

    .card-footer div:first-child output{
        font-size: 3rem;
    }

    .card-footer div:nth-child(2) output{
        font-size: 1rem;    }

}
